.vertical-center {
  margin: 0;
  position: relative;
  top: 10%;
}

.form-alert {
  width: 100%;
  position: absolute;
  top: 5px;
}

.small-text {
  font-size: 0.98 !important;
}

.status-message {
  font-size: 0.9em !important;
}
