.form-alert {
  width: 100%;
  position: absolute;
  top: 5px;
}

.status-message {
  font-size: 0.9em !important;
}

.small-text {
  font-size: 0.98 !important;
}

.alert-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 500;
}
