.dropdown-menu {
  position: relative;
  top: calc(100% + 10px);
  left: -100px;
  z-index: 200 !important;
}

.dropdown-menu::after {
  content: " ";
  position: absolute;
  bottom: 98.6%; /* At the top of the tooltip */
  left: 70%;
  margin-left: -5px;
  /* border-width: 8px; */
  width: 12px;
  height: 12px;
  /* border-style: solid; */
  /* border-color: transparent transparent white transparent; */
  /* outline: 1px solid black; */
  background-color: white;
  transform: rotate(45deg);
  z-index: 100 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  padding: 0.25rem 1.05rem;
}

.dropdown-toggle::after {
  position: absolute;
  top: 22px;
  left: 34px;
  color: #888;
}

.form-inline {
  /* display: inline-block !important; */
  align-items: flex-start !important;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
