#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 300;
}

.grow-wrap {
  position: relative;
  height: auto;
  margin-bottom: 0;
}

.post-text-overlay {
  position: absolute;
  top: 0px;
  display: none;
  width: 100% !important;
  height: 300px;
  background-color: #ffffff;
  z-index: 500;
  /* margin: 50px auto 50px 32%; */
  border: 1px solid;
}

.animated {
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.new-post-textarea {
  overflow: hidden;
  resize: none;
  padding-bottom: 1.5em;
  background-color: #fffff0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* height: 54px !important; */
}

.MuiFilledInput-underline:before,
.MuiFilledInput-underline:after,
.MuiInputBase-root:focus {
  border-bottom: 0px solid !important;
}

.icon-example:after {
  content: url(http://www.stat.ncsu.edu/dept-icons/camera-icon.gif);
  position: absolute;
  z-index: 9999;
  right: 3px;
  bottom: 6px;
}

.post-buttons-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.hidden {
  display: none;
}

.camera-icon-btn {
  display: inline-block;
  position: relative;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
  border: 1px solid purple;
  width: 50px;
  /* height: 40px; */
}

.btn-div {
  width: 60px;
  max-width: 16.6667%;
}

.post-buttons-1,
.post-buttons-2,
.post-buttons-3,
.post-buttons-4,
.post-buttons-5 {
  border-radius: 0px;
  font-size: 1em;
  display: inline-block !important;
  width: 100%;
  height: 40px;
}

.post-buttons-1 {
  border-bottom-left-radius: 4px;
}

.post-buttons-3 {
  position: relative;
  /* border-bottom-right-radius: 4px; */
}

.submit-btn-div {
  margin-left: auto;
}

.image-upload,
.video-upload {
  height: 0;
  width: 0;
  opacity: 0;
}

.multi-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0px 0px 0px;
  row-gap: 0px;
  /* border: 1px solid #ced4da; */
  border-top: 0px solid !important;
  /* bottom: 10px; */
  background-color: rgba(0, 0, 0, 0.09);
}

.multi-preview-focus {
  border: 1px solid #80bdff !important;
  border-top: 0px solid !important;
}

.multi-preview .preview-img-div {
  position: relative;
  max-width: calc(10% - 10px);
  max-height: 50px;
  overflow: hidden;
  border: 3px solid #ced4da;
  border-radius: 2px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.multi-preview .preview-file-div {
  position: relative;
  width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  max-height: 45px;
  overflow: hidden;
  /* border: 3px solid #ced4da; */
  border: 3px solid #343a40;
  border-radius: 2px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: #343a40;
  color: #fff;
}

@media only screen and (max-device-width: 480px) {
  .multi-preview .preview-img-div {
    max-width: calc(20% - 10px);
  }

  .multi-preview .preview-file-div {
    width: calc(100% - 10px) !important;
    max-width: calc(100% - 10px) !important;
  }
}

.multi-preview .preview-img-div img,
.multi-preview .preview-file-div div {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.progress-bar {
  height: 5px;
  background-color: #007bff;
  margin-top: 5px;
}

.closeThumbnail {
  /* width: 20px; */
  /* height: 20px; */
  /* padding-bottom: 10px; */
  /* font-size: 1.2em; */
}

.closeThumbnail:hover,
.closeThumbnail:active {
  border-radius: 50%;
  /* background-color: red; */
}

.emoji-picker-div {
  position: absolute;
  top: 97px;
  z-index: 300;
}
