.search-bar-dropdown {
  width: 290px;
  margin-top: 16px;
  /* border: 1px solid; */
}

#results {
  position: absolute;
  width: inherit;
  overflow-y: hidden;
  height: 20em;
  /* border-bottom: 1px #eeeeee solid; */
}

#results > button {
  background-color: #fff;
}

#search-bar {
  width: inherit;
}
