.feed-icon,
.feed-icon:hover,
.feed-icon:active {
  font-size: 1.2em !important;
  background-color: transparent;
  border: 0;
}

.feed-stats {
  padding-right: 10px;
  padding-top: 13px !important;
  font-size: 1em;
}

.more-btn {
  padding-top: 0px;
}

.selected {
  color: #f22 !important;
}
